h1 {
  color: #FFFFFF
  font-size: 32px;
  background: pink;
  font-family: montserrat ;
}
div {
 background:#002FA7;
}

.text-center {
  text-align: center;
}

.color-blue {
  color: blue;
}

.cadre {
background: #002FA7;
}

h1 {
  /*color: blue;*/
  font-family: 'Arial', cursive;
  font-size: 32px;
}

h2, h3, h4 {
  /*color: blue;*/
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
